<%-include("../partials/header1")%>

<div class="container mt-5">
    <div class="">
        <h1 style="text-align: center;">--REGISTER--</h1>
        <div style="width: 30%; margin:25px auto;">
            <form action="/vendor/register" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" onkeypress='return restrictAlphabets(event)' minlength="10" maxlength="10" name="email" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input class="form-control" type="username" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/"><button>Go back!!!</button></a>
        </div>
    </div>
</div>
<%-include("../partials/footer")%>